.chat {
    position: relative;
    height: 100vh;

    &-message {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.messages{
    &-item{
        &-content{
            border-radius: 12px;
            width: fit-content;
        }
    }
}