<div class="wrapper flex-center">
    <div class="wrapper-bg">
        <img src="../../../assets/images/bg-2.jpg" alt="">
    </div>
    <div class="form flex-center">
        <form class="form-inner br-12 p-5 d-flex  flex-column gap-3 bg-white" [formGroup]="form" (submit)="onSubmit()">
            <h2 class="text-center fw-6 mb-4">Sign Up</h2>
            <div class="form-group">
                <label for="username" class="form-inner-label">Username</label>
                <input type="text" class="form-control form-inner-input" id="username" aria-describedby="emailHelp"
                    placeholder="Enter username" formControlName="username">
            </div>
            <div class="form-group">
                <label for="password" class="form-inner-label">Password</label>
                <input type="password" class="form-control form-inner-input" id="password" placeholder="Password"
                    formControlName="password">
            </div>
            <div class="form-group">
                <label for="confirm-password" class="form-inner-label">Confirm password</label>
                <input type="password" class="form-control form-inner-input" id="confirm-password"
                    placeholder="Password" formControlName="confirmPassword">
            </div>

            <div class="d-flex flex-column">
                <button type="submit" class="btn btn-primary text-white">Submit</button>
                <button class="btn btn-link text-end text-decoration-none">Have an account? Sign in</button>
            </div>
        </form>
    </div>
</div>

<button routerLink="/">Home</button>